.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 75px 70px 50px;
  background-color: #F3C1F8;
}

@media screen and (max-width: 924px) {
  .hero {
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding-top: 136px;
    padding-bottom: 76px;
  }
}

@media screen and (max-width: 544px) {
  .hero {
    padding: 67px 10px 30px;
  }
}

.hero__logo {
  max-width: 310px;
}

@media screen and (max-width: 544px) {
  .hero__logo {
    max-width: 210px;
  }
}

.hero__title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  max-width: 640px;
  margin: 0;
}

@media screen and (max-width: 924px) {
  .hero__title {
    font-size: 40px;
    line-height: 50px;
    margin-top: 48px;
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 544px) {
  .hero__title {
    font-size: 30px;
    line-height: 38px;
    margin-top: 44px;
    margin-bottom: 24px;
    letter-spacing: -1.2px;
  }
}

.hero__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  mix-blend-mode: normal;
  opacity: 0.5;
  max-width: 310px;
  margin: 36px 0 0;
}

@media screen and (max-width: 924px) {
  .hero__subtitle {
    margin: 0 auto;
    font-size: 13px;
    line-height: 16px;
    max-width: 260px;
  }
}

.hero__button {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 10px 19px;
  max-width: 129px;
  box-sizing: border-box;
  background: rgba(243, 193, 248, 0.6);
  margin-top: 142px;
  margin-bottom: 25px;
}

@media screen and (max-width: 924px) {
  .hero__button {
    margin-top: 92px;
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 924px) {
  .hero__button {
    margin-top: 79px;
    margin-bottom: 0;
  }
}

.hero__button:hover {
  background: rgba(243, 193, 248, 0.8);
  cursor: pointer;
}