.page__content {
  margin: 0 auto;
  width: calc(100% - 70px);
}

@media screen and (max-width: 924px) {
  .page__content {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 924px) {
  .page__content_movies {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 544px) {
  .page__content {
    width: calc(100% - 36px);
  }
}

@media screen and (max-width: 544px) {
  .page__content_movies {
    width: calc(100% - 20px);
  }
}