.movies__search-form {
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 63px;
  background-color: #F9F9F9;
  border-radius: 9px;
}

@media screen and (max-width: 924px) {
  .movies__search-form {
    margin-top: 73px;
  }
}

@media screen and (max-width: 544px) {
  .movies__search-form {
    margin-top: 79px;
    background-color: white;
    flex-direction: column;
    padding-bottom: 44px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 49px;
  }
}

.movies__search {
  max-width: 1140px;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 913px;
}

.movies__search-input {
  width: 100%;
  border: none;
  border-radius: 9px;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 19px;
  background: transparent;
}

@media screen and (max-width: 544px) {
  .movies__search-input {
    padding-top: 22px;
  }
}

.movies__search-input::placeholder {
  background: url('../../images/icon-search.svg') no-repeat;
  background-position: 1%;
  padding-left: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

@media screen and (max-width: 544px) {
  .movies__search-input::placeholder {
    background: none;
    padding-left: 0;
    font-size: 14px;
    line-height: 20px;
  }
}

.movies__search-input:focus {
  outline: none;
  border: 1px solid #E8E8E8;
}

.movies__search-line {
  background: #E8E8E8;
  transform: rotate(90deg);
  width: 40px;
  height: 1px;
  position: absolute;
  right: 207px;
}

@media screen and (max-width: 924px) {
  .movies__search-line {
    right: 188px;
  }
}

@media screen and (max-width: 544px) {
  .movies__search-line {
    transform: none;
    bottom: 33px;
    width: 100%;
    right: 0;
  }
}

.movies__search-button {
  background: url("../../images/find.svg") no-repeat;
  width: 34px;
  height: 34px;
  border: none;
  display: block;
  border-right: 1px solid #E8E8E8;
  padding: 20px 46px;
  background-position: center;
}


@media screen and (max-width: 544px) {
  .movies__search-button {
    padding-right: 35px;
    padding-left: 35px;
  }
}

.movies__search-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.movies__search-checkbox {
  height: 20px;
  display: flex;
  margin-left: 30px;
}

@media screen and (max-width: 924px) {
  .movies__search-checkbox {
    margin-left: 11px;
  }
}

@media screen and (max-width: 544px) {
  .movies__search-checkbox {
    margin-top: 50px;
  }
}

.movies__search-invisible-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.movies__search-visible-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 20px;
  margin-right: 13px;
}

@media screen and (max-width: 544px) {
  .movies__search-visible-checkbox {
    margin-right: 21px;
  }
}

.movies__search-invisible-checkbox+.movies__search-visible-checkbox {
  display: block;
  background: url('../../images/uncheck.svg') no-repeat;
  cursor: pointer;
  transition: opacity .3s ease;
}

.movies__search-invisible-checkbox:checked+.movies__search-visible-checkbox {
  background-image: url('../../images/check.svg');
}

.movies__search-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
}

@media screen and (max-width: 924px) {
  .movies__search-text {
    margin-right: 20px;
  }
}

@media screen and (max-width: 544px) {
  .movies__search-text {
    font-size: 11px;
    line-height: 18px;
  }
}